stages:
  - generate
  - publish
generate:
  stage: generate
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  image: ghcr.io/vaskozl/apko@sha256:edaf1019b453079e565a3ff653ac6e278a2e7b5f56eae362b4fd926fe7fad6e1
  script:
    - hack/generate-jobs.sh
  variables:
    REPO: ghcr.io/vaskozl/
  artifacts:
    paths:
      - generated-config.yml
builds:
  stage: publish
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  trigger:
    include:
      - artifact: generated-config.yml
        job: generate
