stages:
  - generate
  - publish
generate:
  stage: generate
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  image: ghcr.io/vaskozl/apko@sha256:4cdd2f35a5c79ebe171b40c1786b84666d3be4c0ebf3a511d7cec0e7fdba6239
  script:
    - hack/generate-jobs.sh
  variables:
    REPO: ghcr.io/vaskozl/
  artifacts:
    paths:
      - generated-config.yml
builds:
  stage: publish
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  trigger:
    include:
      - artifact: generated-config.yml
        job: generate
